/** could break this into regular and inverted classes **/
.sciapp {
    background-color: #700cce;
    color: white;
    border-radius: 0;
    font-family: 'Slabo 27px', serif;
}

.sciapp-inverse {
    background-color: white;
    font-family: 'Slabo 27px', serif;
}

body {
    background-color: white;
    font-family: 'Slabo 27px', serif;
}

#main-title {
    background-color: #700cce;
    color: white;
    text-align: center;
}

hr {
    position: relative;
    top: -20px;
    width: 70%;
}

.user-input-lg {
    width: 100%;
    border-radius: 0;
    font-family: 'Slabo 27px';
}

.jumbotron {
    border-radius: 0;
}

.list-group-item:hover {
    background-color: #700cce;
    color: white;
}

.list-group-item {
    margin-bottom: 0;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-radius: 0;
}

.btn-list-group {
    font-family: 'Slabo 27px';
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

#add-question {
    cursor: pointer;
    border-radius: 0;
    width: 75px;
}

.rm-question {
    cursor: pointer;
    width: 75px;
    border-radius: 0;
}

#register-btn {
    width: 100%;
    cursor: pointer;
}

.form-control {
    border-radius: 0;
}

.hide {
    display: none;
}


/** jQuery UI theme **/

.ui-widget.custom {
    font-family: 'Slabo 27px', serif;
    border-radius: 0;
}

.ui-widget-content.custom {
    font-family: 'Slabo 27px', serif;
    color: white;
}

.ui-widget-content.sciapp {
    color: white;
}

.ui-dialog.custom {
    font-family: 'Slabo 27px', serif;
    padding: 0;
}

.ui-widget.custom button {
    font-family: 'Slabo 27px', serif;
}

.ui-widget.custom input {
    font-family: 'Slabo 27px', serif;
}

.ui-dialog.custom .ui-dialog-content {
    font-family: 'Slabo 27px', serif;
    padding: 0;
}

.ui-dialog.custom .ui-widget-header {
    background: #700cce;
    border-radius: 0;
}

.ui-dialog.custom .ui-dialog-titlebar {
    font-family: 'Slabo 27px', serif;
}

.ui-dialog.custom.notitle .ui-dialog-titlebar {
    display: none;
}

.ui-dialog.custom.padded {
    padding: 10px;
}

.ui-dialog.custom.padded input {
    margin-bottom: 3px;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}


