/** could break this into regular and inverted classes **/
.sciapp {
    background-color: #700cce;
    color: white;
    border-radius: 0;
    font-family: 'Slabo 27px', serif;
}

.sciapp-inverse {
    background-color: white;
    font-family: 'Slabo 27px', serif;
}

body {
    background-color: white;
    font-family: 'Slabo 27px', serif;
}

#main-title {
    background-color: #700cce;
    color: white;
    text-align: center;
}

hr {
    position: relative;
    top: -20px;
    width: 70%;
}

.user-input-lg {
    width: 100%;
    border-radius: 0;
    font-family: 'Slabo 27px';
}

.jumbotron {
    border-radius: 0;
}

.list-group-item:hover {
    background-color: #700cce;
    color: white;
}

.list-group-item {
    margin-bottom: 0;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-radius: 0;
}

.btn-list-group {
    font-family: 'Slabo 27px';
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

#add-question {
    cursor: pointer;
    border-radius: 0;
    width: 75px;
}

.rm-question {
    cursor: pointer;
    width: 75px;
    border-radius: 0;
}

#register-btn {
    width: 100%;
    cursor: pointer;
}

/** jQuery UI theme **/

.ui-corner-all {
    border-radius: 0;
}

.ui-widget-content {
    background-color: white;
}

.ui-dialog .ui-dialog-content {
    min-height: 0;
    padding: 0;
}

.hide {
    display: none;
}

.ui-dialog {
    border-radius: 0;
    padding: 0;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-widget-header {
    display: none;
}

.ui-widget-content {
    font-family: 'Slabo 27px', serif;
}

.dialog-padded {
    padding: 10px;
}

.ui-widget input {
    width: 100%;
    border-radius: 0;
    font-family: 'Slabo 27px';
}

.ui-widget button {
    border-radius: 0;
    font-family: 'Slabo 27px';
    text-align: center;
}

