/** could break this into regular and inverted classes **/
.sciapp {
    background-color: #700cce;
    color: white;
    border-radius: 0;
    font-family: 'Slabo 27px', serif;
}

.sciapp-inverse {
    background-color: white;
}

body {
    background-color: white;
    font-family: 'Slabo 27px', serif;
}

.user-input-lg {
    font-family: 'Slabo 27px', serif;
    border-radius: 0;
}

#main-title {
    background-color: #700cce;
    color: white;
    text-align: center;
}

hr {
    position: relative;
    top: -20px;
    width: 70%;
}

.jumbotron {
    border-radius: 0;
}

.list-group-item:hover {
    background-color: #700cce;
    color: white;
}

.list-group-item {
    margin-bottom: 0;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-radius: 0;
}

.btn-list-group {
    font-family: 'Slabo 27px';
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

#add-question {
    cursor: pointer;
    border-radius: 0;
    width: 75px;
}

.rm-question {
    cursor: pointer;
    width: 75px;
    border-radius: 0;
}

#name {
    margin-bottom: 10px;
}

#register-btn {
    width: 100%;
    cursor: pointer;
}
